//Customize as variáveis do Bootstrap aqui
$primary: #004a45;

// 2. Importe o Sass do Bootstrap
@import 'bootstrap/scss/bootstrap';

// 3. Importe os ícones do Bootstrap Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';


// 4. Adicione suas regras de CSS/Sass customizadas aqui

.nav-link-sidebar-inactive {
  &:hover {
    filter: brightness(0.95);
    transform: scale(1.02);
  }

  transition: transform 0.2s ease-out,
  filter 0.2s ease-out;
}
